body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 36px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
a {
    text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.inner {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.nav {
    display: flex;
    min-height: 95px;
}
.page-header {
    margin-bottom: 65px;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1170px;
}
.nav__logo {
    display: flex;
    width: 170px;
}
.nav__company {
    font-size: 24px;
    line-height: 58px;
    text-transform: uppercase;
    color: white;
    flex-wrap: wrap;
    margin-right: 6px;
}
.nav__intro {
    font-size: 9px;
    line-height: 10px;
    width: 50px;
    letter-spacing: 0.14em;
    margin: auto 0;
    text-transform: uppercase;
    color: white;
    opacity: 0.3;
}
.nav__list {
    margin: auto 0;
}
.nav__item {
    vertical-align: middle;
    margin-right: 22px;
    margin-bottom: 28px;
    font-size: 16px;
    color: white;
}
/*.nav__item--dashed {
    position: relative;
}
.nav__item--dashed::after {
    content: "";
    position: absolute;
    background-image: url("../img/header__underline.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 5px;
    bottom: -10px;
    left: 0;
    right: 0;
} */
.page-header {
    background-image: url("../img/header_phones.png"),
                      url("../img/header_background.png");             
    background-repeat: no-repeat, no-repeat;
    width: 1440px;
    height: 100vh;
}
.presentation {
    margin: 0;
    width: 500px;
}
.presentation__introduce {
    margin: 0;
    margin-top: 50px;
    font-size: 14px;
    line-height: 48px;
    color: #008ed6;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
}
.presentation__slogan {
    margin: 0;
    color: white;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
}
.presentation__text {
    font-size: 18px;
    line-height: 26px;
    color: #4c4e59;
}
.presentation__buttons{
    display: flex;
    margin-top: 60px;
    
}
.button { 
    box-sizing: border-box;
    text-align: center;
    font: inherit;
    background-color: rgb(0, 142, 214);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 48px;
    padding: 0 20px;
    border-radius: 3px;
}
.presentation__button--load {
    border: 3px solid rgb(0, 142, 214); 
    margin-right: 20px;
    width: 160px;
}
.presentation__button--features {
    background-color: transparent;
    width: 160px;
    border: 3px solid #2a292d; 
}
.features__top-text,.tickets__text-top,.contacts__text-top {
    text-align: center;
    margin-bottom: 70px;
}
.header-first {
    margin: 0;
    color: #008ed6;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
}
.header-second {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #1a1a1a;
}
.header-second--white {
    color: #ffffff;
}
.features__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.features__item {
    list-style: none;
    width: 270px;
}
.features__title {
    color: #4c4e59;
}
.main-description {
    font-size: 18px;
    color: #999999;
}
.middle-content {
    display: flex;
    margin-bottom: 65px;
} 
.middle-device {
    width: 600px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 70px;
} 
.details__list {
    list-style: none;
}
.details__item {
    line-height: 30px;
}
.bottom-content {
    display: flex;
    padding: 65px 135px;
    background-color: #f0f1f2; 
} 
.comments {
    background-image: url("../img/middle__blur-image.png"); 
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #15141a;
    padding: 65px 135px;
}
.comments__text-top {
    text-align: center;
    margin-bottom: 80px;
}
.advertising {
    display: flex;
    justify-content: space-between;
    background-color: #15141a;
    padding: 60px 135px;
    align-items: center;
}
.advertising__text {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    color: #ffffff;
}
.advertising__text--gray {
    color: #c1c0c2;
}
.presentation__button--features {
    margin-right: 20px;
}
.comments__list {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
    color: #ffffff;
}
.comments__item {
    font-size: 24px;
    line-height: 32px;
    width: 570px;
}
.comments__item-first {
    padding-right: 30px;
}
.comments__description {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 15px;
}
.comments__person-name {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
}
.comments__person-company {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}
.comments__text-and-image {
    display: flex;
    flex-wrap: wrap;

}
.comments__person {
    margin-left: 15px;
   display: flex;
   flex-direction: column;
}
.tickets__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}
.tickets__item {
    width: 270px;
    border: 1px solid #e0e0e0;
}
.tickets__title,.tickets__price{
    border-bottom: 1px solid #e0e0e0;
}
.tickets__title {
    padding: 25px 110px;
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
}
.tickets__price {
    padding-top: 10px;
    padding-bottom: 34px;
    padding-left: 85px;
    padding-right: 85px;
}
.tickets__cost {
    font-size: 60px;
    line-height: 20px;
    font-weight: 700;
}
.tickets__dollar {
    font-size: 48px;
    line-height: 20px;
}
.tickets__price-gray {
    color: #999999;
}   
.tickets__text {
    padding: 35px 45px;
    color: #999999;
}
.tickets__button {
    background-color: white;
    color: rgb(0, 142, 214);
    margin: 0 55px 35px 55px;
}
.color-blue {
    color: rgb(0, 142, 214);
}
.contacts{
    background-color: #ededed;
    padding-top: 35px;
    padding-bottom: 140px;
}
.contacts__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
}
.contacts__item {
    width: 370px;
}
.social__list {
    list-style: none;
}