body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 36px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
a {
    text-decoration: none;
}
.inner {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.nav {
    display: flex;
    min-height: 95px;
}
.page-header {
    margin-bottom: 65px;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.nav__logo {
    display: flex;
    width: 170px;
}
.nav__company {
    font-size: 24px;
    line-height: 58px;
    text-transform: uppercase;
    color: white;
    flex-wrap: wrap;
    margin-right: 6px;
}
.nav__intro {
    font-size: 9px;
    line-height: 10px;
    width: 50px;
    letter-spacing: 0.14em;
    margin: auto 0;
    text-transform: uppercase;
    color: white;
    opacity: 0.3;
}
.nav__list {
    text-align: center;
}
.nav__item {
    vertical-align: middle;
    margin-right: 22px;
    margin-bottom: 28px;
    font-size: 16px;
    color: white;
}
.nav__item--dashed {
    position: relative;
}
.nav__item--dashed::after {
    content: "";
    position: absolute;
    background-image: url("../img/header__underline.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 5px;
    bottom: -10px;
    left: 0;
    right: 0;
}
.page-header {
    background-image: url("../img/header_phones.png"),
                      url("../img/header_background.png");             
    background-repeat: no-repeat, no-repeat;
    width: 1440px;
    height: 100vh;
}
.presentation {
    margin: 0;
    width: 500px;
}
.presentation__introduce {
    margin: 0;
    margin-top: 50px;
    font-size: 14px;
    line-height: 48px;
    color: #008ed6;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
}
.presentation__slogan {
    margin: 0;
    color: white;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.01em;
}
.presentation__text {
    font-size: 18px;
    line-height: 26px;
    color: #4c4e59;
}
.presentation__buttons{
    display: flex;
    margin-top: 60px;
    
}
.button { 
    box-sizing: border-box;
    text-align: center;
    font: inherit;
    background-color: rgb(0, 142, 214);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 48px;
    padding: 0 20px;
    border: none;
}
.presentation__button--load {
    border: 3px solid rgb(0, 142, 214); 
    margin-right: 20px;
    width: 160px;
}
.presentation__button--features {
    background-color: transparent;
    width: 160px;
    border: 3px solid #2a292d; 
}
.features__top-text {
    text-align: center;
    margin-bottom: 70px;
}
.header-first {
    margin: 0;
    color: #008ed6;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
}
.header-second {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #1a1a1a;
}
.features__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.features__item {
    list-style: none;
    width: 270px;
}
.features__title {
    color: #4c4e59;
}
.main-description {
    font-size: 18px;
    color: #999999;
}
.middle-content {
    display: flex;
    margin-bottom: 65px;
} 
.middle-device {
    width: 600px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 70px;
} 
.details__list {
    list-style: none;
}
.details__item {
    line-height: 30px;
}
.bottom-content {
    display: flex;
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #f0f1f2;
} 
.comments {
    background-image: url("../img/middle__blur-image.png"); 
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #15141a;
    padding-top: 60px;
    padding-bottom: 60px;
}
.advertising {
    display: flex;
    justify-content: space-between;
    background-color: #15141a;
    padding-top: 60px;
    padding-bottom: 60px;
}
